.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31b0b078f5da0a750f05e27c6d9df39b&auto=format&fit=crop&w=1453&q=80');
  background-size: cover;
}
 .hero-layer {
  background-color: rgba(10,10,10,0.4);
  width: 100%;
  height: 100%;
}
 .hero-text-container {
  padding: 20px 10px;
  position: relative;
  top: 40%;
  margin: 0 auto;
  max-width: 550px;
}
 .hero-text-container h2 {
  text-align: center;
  font-size: 3em;
  color: #E5E2E3;
}
 .link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
 .link-container button {
  border-color: #65D753;
  border-radius: 5px;
  padding: 10px;
  background-color: #4CC639;
  color: white;
  font-size: 16px;
}
